* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #1e3c72, #982a37);
    color: white;
    text-align: center;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
}