#cursor {
    position: absolute;
    width: 80px;
    height: 80px;

    display: none;
    pointer-events: none;
    z-index: 9999;

    transform: translate(-50%, -50%);
    will-change: transform;
}

#cursor img {
    width: 100%;
    height: 100%;

    user-select: none;
    pointer-events: none;

    animation: saw-rotate 1s linear infinite;
    transform-origin: center;
}