#game-board {
    margin: 20px 0;
    height: 70vh;
    width: 80vw;
    max-width: 1000px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

#game-task {
    margin-top: 100px;
    font-size: 24px;
}

#game-info {
    position: fixed;
    top: 15px;
    width: 80vw;
    max-width: 1000px;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#game-info p {
    margin: 0;
}